@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
	font-family: 'kdm-font-10';
	src: url('/fonts/kdm-font-10.eot?#iefix') format('embedded-opentype'),
			url('/fonts/kdm-font-10.ttf') format('truetype'),
			url('/fonts/kdm-font-10-webfont.woff') format('woff'),
			url('/fonts/kdm-font-10-webfont.woff2') format('woff2');
}
.kdm_font, .kdm_font_10 {font-family: 'kdm-font-10'; }


* {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.card-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	border: 1px solid #555;
	font-size: 1.3em;
	width: 15em !important;
	height: 15em !important;
	overflow: hidden;
	background: #D8D8D8;
	color: #000;
}
.card.-disorder {
	background: #DDD;
	color: #000;
}
.card.-disorder .card__title {
	background: #000;
	color: #FFF;
}
.card.-fighting-art {
	background: #D8D8D8;
	color: #000;
}
.card.-fighting-art .card__title {
	background: #8C1C11;
	color: #FFF;
}
.card.-secret-fighting-art {
	background: #D8D8D8;
	color: #000;
}
.card.-secret-fighting-art .card__title {
	background: #cd6133;
	color: #FFF;
}
.card.-injuries {
	background: #D8D8D8;
	color: #000;
}
.card.-injuries .card__title {
	background: #34495e;
	color: #FFF;
}
.card.-abilities {
	background: #D8D8D8;
	color: #000;
}
.card.-abilities .card__title {
	background: #1f7d47;
	color: #FFF;
}
.card .card__title {
	padding: 1.578em 1.0528em .526em;
	background: lightblue;
	text-align: center;
	font-weight: 600;
}
.card .card__text {
	padding: 0.5em 2em 1.7em;
	-webkit-box-flex: 1;
			-ms-flex: 1;
					flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.card__text .text__content.-small {
	font-size: .6em !important;
}

.card__text .text__content.-xsmall {
	font-size: .6em !important;
}
.card__text.-xsmall {
	padding-left: 1.4em !important;
	padding-right: 1.4em !important;
}
.card__text .text__content.-xxsmall {
	font-size: .5em !important;
}

.card__text .text__content.-medium {
	font-size: .75em !important;
}

.card .card__expansion {
	position: absolute;
	top: 4.8em;
	font-size: 0.56em;
	color: white;
	width: 100%;
	text-align: center;
	font-style: italic;
}

.card .card__text table.-nowrap-first-column td:first-of-type {
	white-space: nowrap;
	padding-right: 20px;
}

.card .card__text table td {
	border-top: 1px solid #AAA;
}

.-text-smaller {
	font-size: .8em;
}