<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>kdm-cards-injuries</title>
	<link rel="stylesheet" href="cards.css">
</head>
<body>
	<div id="app" class="card-container">
		<div class="card -injuries" v-for="injury in cards.injuries">
			<div class="card__title" v-html="injury.name"></div>
			<div class="card__text">
				<div class="text__content" :class="injury.size ? injury.size : ''" v-html="injury.desc"></div>
			</div>
			<div class="card__type">{{ injury.type }}</div>
		</div>
		
		<div class="card -abilities" v-for="ability in cards.abilities">
			<div class="card__title" v-html="ability.name"></div>
			<div class="card__text" :class="ability.size ? ability.size : ''">
				<div class="text__content" :class="ability.size ? ability.size : ''" v-html="ability.desc"></div>
			</div>
			<div class="card__expansion">{{ ability.expansion }}</div>
			<div class="card__type">{{ ability.type }}</div>
		</div>
	</div>
	
	<script src="injuries.js"></script>
</body>
</html>
